.small-banner-text h1{
    font-weight: bold;
    color: #fc82bd;
}
.small-banner-text h2{
    font-weight: normal;
    color: #69bff1;
    font-size: 36px;
}
.banner-img img{
    width: 550px;
    
}
.ban-container{
    overflow-x: hidden;
}
    
